{% extends 'basis.html' %}

{% block content %}


<section class="intro">
    <h2>About Us</h2>
    <p>The Dojo is specially crafted to help 7-17 year olds learn how to begin their coding journey and how to create simple to complex programs in a variety of programming languages.</p>
    <p>We offer affordable sessions to help students and assist them with their computing studies or hobbies with coding in the form of software development, application development, web design and more.</p>
    <a href="{{ url_for('courses') }}" class="btn">Explore Our Courses</a>


{% endblock %}