{% extends 'basis.html' %}

{% block content %}


<section class="features">
    <div class="feature">
        <img src="{{ url_for('static', filename='softwaredevelopment.png') }}" alt="Software Development" class="feature-img">
        <h2>Software Development</h2>
        <p>This course is all about the coding side of the software world.<br>This course provides the opportunity to grow and learn how to properly code and create amazing programs</p>
            <a href="{{ url_for('bookings') }}" class="btn">Book This Course!</a>
    </div>
    <div class="feature">
        <img src="{{ url_for('static', filename='components.png') }}" alt="Hardware Run-through" class="feature-img">
        <h2>Hardware Run-through</h2>
        <p>This course is all about teaching the students how a computer actually works!<br>Find out what's really going on as you look into a computer and see everything that makes it work.</p>
            <a href="{{ url_for('bookings') }}" class="btn">Book This Course!</a>
    </div>
    <div class="feature">
        <img src="{{ url_for('static', filename='HTML.png') }}" alt="Website Designing" class="feature-img">
        <h2>Website Designing</h2>
        <p>This course shows your student how to build incredible websites!<br>Your student will be using HTML, CSS, JavaScript, Python and SQL all to create a functional and interesting website to be proud of.</p>
            <a href="{{ url_for('bookings') }}" class="btn">Book This Course!</a>
    </div>
    <div class="feature">
        <img src="{{ url_for('static', filename='applicationdevelopment.png') }}" alt="Application Development" class="feature-img">
        <h2>Application Development</h2>
        <p>This course is focused on building applications for mobile devices!<br>Your student will learn how to build apps for both Android and iOS using a variety of programming languages, such as python and C++!</p>
            <a href="{{ url_for('bookings') }}" class="btn">Book This Course!</a>
    </div>
</section>

{% endblock %}